@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.sideBarItems {
  list-style: none;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

body {
  background: rgba(236, 236, 238, 255);
}

* {
  padding: 0;
  margin: 0;
}
